<footer class="page-footer blue fixed-bottom">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-6">
                PID: <span id="pid">Wait...</span>
            </div>
            <div class="col-md-6">
                Create Time: <span id="create-time">Wait...</span>
            </div>
            <div class="col-md-4">
                CPU Usage:
                <br>
                <span id="cpu-percent">Wait...</span> %
            </div>
            <div class="col-md-4">
                Memory Usage:
                <br>
                <span id="memory-percent">Wait...</span> %
            </div>
            <div class="col-md-4">
                Disk Usage:
                <br>
                Read: <span id="disk-read">Wait...</span> MBps,
                Write:<span id="disk-write">Wait...</span> MBps
            </div>
        </div>
    </div>
</footer>