{% extends "article_summaries/base_summary.html" %}
{% block status %}
    fast
{% endblock %}
{% block term %}
    tachycardia
{% endblock %}
{% block not_healthy %}
    palpitations (sometimes discribed as heart flutter) and feeling dizzy, weakness, anxiety, and sensation of almost passing out
{% endblock %}
{% block healthy %}
    Mostly, our heart rate is conditioned as fast heart rate not far after excercise.
    Our heart rate also increased in certain situation, such as consuming caffein, fever, anxiety etc.
    It's normal, because our heart rate is recovers rapidly to normal heart rate.
{% endblock %}
{% block reference %}
    https://myheart.net/articles/inappropriate-sinus-tachycardia/
{% endblock %}