{% extends "article_summaries/base_summary.html" %}
{% block status %}
    slow
{% endblock %}
{% block term %}
    bradycardia
{% endblock %}
{% block not_healthy %}
    shortness of breath and feeling dizzy and fatigue
{% endblock %}
{% block healthy %}
    Mostly it's an athlete.
    Their heart rate can reach 40 - 60 bpm, which is lower than usual people.
    It's normal for athletes, because they've trained for some activity.
{% endblock %}
{% block reference %}
    https://myheart.net/articles/low-heart-rate-bradycardia-explained-by-a-heart-doctor/
{% endblock %}